// Typography

// Roboto font
@font-face {
  font-family: "LatoLatin";
  src: local(Roboto Thin),
    url("#{$roboto-font-path}LatoLatin-Thin.eot");
  src: url("#{$roboto-font-path}LatoLatin-Thin.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Thin.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Thin.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "LatoLatin";
  src: local(Roboto Light),
    url("#{$roboto-font-path}LatoLatin-Light.eot");
  src: url("#{$roboto-font-path}LatoLatin-Light.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Light.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Light.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "LatoLatin";
  src: local(Roboto Regular),
    url("#{$roboto-font-path}LatoLatin-Regular.eot");
  src: url("#{$roboto-font-path}LatoLatin-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Regular.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Regular.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "LatoLatin";
  src: url("#{$roboto-font-path}LatoLatin-Medium.eot");
  src: url("#{$roboto-font-path}LatoLatin-Medium.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Medium.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Medium.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "LatoLatin";
  src: url("#{$roboto-font-path}LatoLatin-Bold.eot");
  src: url("#{$roboto-font-path}LatoLatin-Bold.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Bold.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Bold.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Bold.ttf") format("truetype");
  font-weight: 700;
}

// General properties
body {
  font-family: $roboto-font-family;
  font-weight: 300;
  line-height: 1.5 ;
  color: #404040;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300;
}
