_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
.DS_Store

# Coverage reports
coverage/

# IDE files
.vscode/
.idea/
*.swp

# Thumbnails Generator
thumb_gen/

# Installed pacakges
installed_packages.txt
installed_packages.json

# Template
template/

# Testing folder on new features
test/

# Draft folder
draft/