
<div class="max-w-6xl mx-auto px-4 lg:px-8 flex flex-col lg:flex-row gap-8">

    <!-- Main Content -->
    <div class="flex-1 max-w-3xl">
        <d-article>
            {% if page.bibliography %}
            <d-bibliography>
                <script type="text/bibtex">
                    {% include_relative {{ page.bibliography }} %}
                </script>
            </d-bibliography>
            {% endif %}
            
            {{ content }}
        </d-article>



      <d-appendix>
        <d-footnote-list></d-footnote-list>
        <d-citation-list></d-citation-list>
      </d-appendix>
   


    </div>



    <d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}"></d-bibliography>

    </div>
</div>