{% for data in site.data.experience %}
<div class="item">
  <div
    class="logo"
    style="background-image:url(assets/profile/{{data.logo}})"
  >
  </div>
  <div>
    <div class="job-title">{{ data.title }}</div>
    <div>
      <span class="date">{{ data.date }}</span>
      <span class="organization">
        {{ data.organization }},
        {{ data.location}}</span>
    </div>
    <div class="caption">
      {{data.caption | markdownify | remove: '<p>' | remove: '</p>' }}
    </div>
  </div>
</div>
{% endfor %}
