<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Hello from Boston.</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">Last build on {{ site.time | date: '%B %Y'}}</abbr>
      </div>

      <!--<div class="footer-col footer-col-2">
        <span class="social-buttons" >
          <span class="item">
            <a href="mailto:{{ site.email }}" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="https://github.com/zhenyuanlu" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/zhenyuanlu/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </span>
        </span>
      </div>-->

      <div class="footer-col footer-col-3">
        <p> &#169 2020 -  {{ site.time | date: "%Y" }} {{ site.author | escape }}
        </p>
      </div>

    </div>
    
  </div>
</footer>
