<header class="site-header">
  <div class="wrapper">
    <!-- "trigger "or "site-title" to increase size of title-->
    <span>
      <!-- <a class="page-link" href="{{ site.baseurl | prepend: site.url }}">{{ site.name }}</a> -->
      <a href="{{ site.baseurl | prepend: site.url }}">Home</a>
    </span>

    <nav class="site-nav">
      <div>
        <a class="page-link" href="">My Art (WIP)</a>
        <!--<a class="page-link" href="{{ '/' | relative_url }}">Home</a>-->
        <!--<a class="page-link" href="{{ '/notes/' | relative_url }}">Tutorials</a>-->
        <!-- <a class="page-link" href="{{ '/projects/' | relative_url }}">Blog</a> -->
        <!--<a class="page-link" href="{{ '/cv/' | relative_url }}">CV</a>-->
        <!-- <a class="page-link" href="{{ '/teaching/' | relative_url }}">Teaching</a> -->
        <!-- <a href="{{ '/courses/ie5976-vbc-su23/' | relative_url }}">IE5976</a> -->
      </div>
    </nav>
  </div>
</header>
