<div class="project">

  {% if project.external %}
    <a href="{{ project.external }}" class="preview-image" style="background-image: url('{{ "/assets/projects/" | append: project.image | relative_url }}')"></a>
  {% elsif project.url || project.code || project.article || project.paper %}
    <a href="{{ project.url || project.code || project.article || project.paper }}" class="preview-image" style="background-image: url('{{ "/assets/projects/" | append: project.image | relative_url }}')"></a>
  {% else %}
    <span class="preview-image" style="background-image: url('{{ "/assets/projects/" | append: project.image | relative_url }}')"></span>
  {% endif %}




  <span class="title">{{ project.title }}</span>

  <p>
    {% for category in project.categories %}
    {% if category == "projects" %}
      {{ project.description }}
    {% endif %}
    {% endfor %}
  </p>

  <p>
    {% for author in project.authors -%}
    {% include person person=author.name %}{% unless forloop.last %}, {% endunless %}
      <!-- {{ author.name }}{% unless forloop.last %}, {% endunless %} -->
    {% endfor %}
  </p>


  <div class="links">
    {% if project.article %}
      <a href="{{ project.article }}"><i class="fas fa-file-alt"></i> Article</a>
    {% endif %}
    {% if project.demo %}
      <a href="{{ project.demo }}"><i class="fas fa-play"></i> Demo</a>
    {% endif %}
    {% if project.external %}
      <a href="{{ project.external }}"><i class="fas fa-link" aria-hidden="true"></i> Website</a>
      {% elsif project.workshop %}
        <i class="fa-solid fa-person-chalkboard"> </i> {{ project.workshop }}
      {% elsif project.url %}
        <a href="{{ project.url }}"><i class="fas fa-solid fa-book" ></i> Page</a>
    {% endif %}
    {% if project.code %}
      <a href="{{ project.code }}"><i class="fab fa-github" aria-hidden="true"></i> Code</a>
    {% endif %}
    {% if project.paper %}
      <a href="{{ project.paper }}"><i class="far fa-file-pdf"></i> PDF</a>
    {% endif %}
    {% if project.video %}
      <a href="{{ project.video }}"><i class="fas fa-film"></i> Video</a>
    {% endif %}
    {% if project.recording %}
      <a href="{{ project.recording }}"><i class="fas fa-video"></i> Recording</a>
    {% endif %}
    {% if project.patent %}
      <a href="{{ project.patent }}"><i class="fas fa-cogs" aria-hidden="true"></i> Patent </a>
    {% endif %}
  </div>


</div>
