<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google tag (gtag.js) -->
{% include core/google_tag.html %}

<!-- SEO -->
{% include core/head_seo.html %}
<!-- Header/nav Schema -->
{% include core/header_seo_schema.html %}

<!-- Favicon -->
<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

<!-- Tailwind CSS -->
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- For MathJax -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>

<script src="{{ '/assets/js/misc.min.js' | relative_url }}" defer></script>



<!-- add page style if has -->
{% if page.style %}
  {{ page.style | strip_newlines }}
{% endif %}