// Badges
.badge_0 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: .125rem;
  color: #fff !important;
  background-color: $theme-color;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  float:right;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
  @include media-query($on-palm) {
    .badge_0 {
      float: left;
      display:flex;
      background-color: $white;
    }
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}
