figure.highlight {
  margin: 0 0 1rem;
}

pre {
  // color: $global-theme-color;
  background-color: $global-code-bg-color;
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    // color: $black-color;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}
// --hljs-bg:rgb(28, 29, 33);--code-bg:rgb(245, 245, 245)
code {
  // color: $global-theme-color;
  background-color: $global-code-bg-color;
  border-radius: 3px;
  padding: 3px 3px;
}
