// Schedule.
tr.past {
//     color: #999;
}
span.event {
    color: $dark-green;
}
span.deadline {
    color: $red;
}


// Divider
.divider-new {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  > h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  &:before,
  &:after {
    content: "";
    height: 1.5px;
    flex: 1;
    height: 2px;
    background: #c6c6c6;
  }
  &:before {
    margin: 0 .5rem 0 0;
  }
  &:after {
    margin: 0 0 0 .5rem;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: .25rem;
}

.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: .5rem;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: .5rem;
      color: $text-color;
      content: quote("/");
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: $text-color;
  }
}


.logo {
    float: left;
    margin-right: 20px;
    padding-bottom: 15px;
    width: 120px;
}

.about {
    .post-title {
        padding-top: 20px;
    }
    .post-description {
        font-size: 20px;
    }
}

.instructors {
    padding: 0 0 0 1%;
}

%instructor-profile {
    display: block;
    float: left;
    height: 210px;

    @media screen and (min-width: 676px) {
        height: 130px;
    }

    img {
        border-radius: 50%;
        float: left;
        object-fit: cover;
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }

    ul.instructor-info {
        display: block;
        float: left;
        list-style-type: none;
        padding-left: 0;
        width: 65%;
        width: -webkit-calc(100% - 130px);
        width: calc(100% - 130px);
        min-width: 210px;

        a {
            color: $theme-color;
            &:hover {
                text-decoration: underline;
            }
        }

        span {
            font-weight: 400;
        }
    }
}
.instructor-profile-two-col {
    @extend %instructor-profile;
    width: 50%;
}
.instructor-profile-three-col {
    @extend %instructor-profile;
    width: 33%;
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}
