/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/
// .distill {
//    a:hover {
//      // border-bottom-color: $global-theme-color;
//      text-decoration: none;
//      border-bottom: none;
//    }
// }

d-title{
  h1 {
    font-size: 36px; //can be changed
    margin-top: 42px;
  }
}

d-byline {
  border-top-color: var(-rgba(0,0,0,.1)) !important;
}

d-byline h3 {
  color: $global-text-color !important;
}

d-byline a, d-article d-byline a {
  color: $global-text-color !important;
  &:hover {
    color: $global-hover-color !important;
  }
}

d-article {
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  h2 {
    font-size: 30px; //can be changed
  }
  border-top-color: var(-rgba(0,0,0,.1)) !important;
  a, p, h1, h2, h3, h4, h5, h6, li, table {
    color: $global-text-color !important;
  }
  a, h1, h2, hr, table, table th, table td {
    border-bottom-color: var(-rgba(0,0,0,.1)) !important;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
  }
  a:hover {
    border-bottom-color: $global-theme-color;
    text-decoration: none;
    // color: $global-hover-color !important;
  }
  b i {
    display: inline;
  }

  d-contents {
    .figcaption {
      line-height: 1.4em;
    }
    .toc {
      // margin-bottom: 0.8em;
      color: rgba(0, 0, 0, 0.8);
      // font-weight: bold;
      margin: 0 2px 40px;
      border: 1px solid #EEEEEE;
      background: #F5F5F5;
      border-radius: 8px;
      padding: .4em;
      font-size: 15px;
    	a {
        border-bottom: none !important;
    		&:hover {
    			box-shadow: 0 1px;
          color: $global-text-color !important;
          // border-bottom: 1px solid var(-rgba(0,0,0,.1)) !important;
          // text-decoration: underline;
    		}
    	}

      h3 {
        margin-top: 0;
        margin-bottom: 1em;
      }

      ul {
        // padding-left: 1em;
        margin-top: 8px;
        margin-bottom: 6px;
        // list-style-type: none;
        li {
          margin-top: 8px;
          margin-bottom: 0;
        }
      }
    	details {
    		summary {
    			cursor: pointer;
    			margin-inline-start: 20px;
    		}
    	}
    	details[open] {
    		summary {
    			cursor: pointer;
    		}
    	}
    	.details {
    		display: inline;
    		font-weight: 500;
    	}
    	.inner {
    		margin: 0 20px;
    		padding: 10px 0;
    	}
    	// li {
    	// 	ul {
    	// 		margin-inline-start: 24px;
    	// 	}
    	// }
    	summary {
    		&:focus {
    			outline: 0;
    		}
    	}
    }

    // toc-line {
    //   border-right: 1px solid var(-rgba(0,0,0,.1));
    //   grid-column: toc-line;
    // }
  }

  d-footnote {
    scroll-margin-top: 66px;
  }
}

d-appendix {
  border-top-color: $global-divider-color !important;
  color: $global-divider-color !important;
  h3, li, span {
    color: $global-distill-app-color !important;
  }
  a, a.footnote-backlink {
    color: $global-distill-app-color !important;
    &:hover {
      color: $global-hover-color !important;
    }
  }
}

@media (max-width: 1024px) {
  d-article {
    d-contents {
      display: block;
      grid-column-start: 2;
      grid-column-end: -2;
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      padding-top: 0.5em;
      width: 100%;
      border: 1px solid var(-rgba(0,0,0,.1));
      nav {
        grid-column: none;
      }
    }
  }
}
