.site-header {
    background-color: white;
    opacity: 0.95;
    position:fixed; //(some reasons causing the margin-tops different in distill and other pages)
    left:0px;
    top:0px;
    width:100%;
    z-index: 50;
    // box-shadow: 0 0.1px 3px rgba(0,0,0,0.4);
    border-bottom:1px solid $global-divider-color;
    a {
        font-family: $font-family-sans-serif;
        color: #000000;
        line-height: $nav-height;
        // letter-spacing: -1px;
        margin-bottom: 0;
        text-decoration: none;
        //font-weight: bold;
        &:hover {
          text-decoration: none;
          opacity: 0.75;
          //border-bottom-color: #333;
          transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
        }
    }
}

.site-title a {
    font-family: $font-family-sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: $nav-height;
    // letter-spacing: -1px;
    margin-bottom: 0;
    text-decoration: none;
    //font-weight: bold;
    &:hover {
      text-decoration: none;
      opacity: 0.75;
      //border-bottom-color: #333;
      transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
    }
}

.site-nav {
    float: right;
    line-height: $nav-height;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link{

        //color: $dark-gray;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
}
