.home {

  h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: none;
  }



  .columns {
    display: flex;
    flex-direction: row;

    .intro {
      flex: 1;
      font-size: 1.1em;
    }

    .me {
      margin-left: $spacing-unit;
      margin-bottom: $spacing-unit;

      font-size: 0.9em;
      text-align: center;

      picture, img {
        width: 180px;
        height: 180px;
        border-radius: 6px;
      }

      ul {
        margin-top: 16px;
      }
    }
  }

  .featured-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto-fill;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    h3 {
      margin: 0;
      font-size: 1.05em;
      font-weight: bold;
      line-height: 0;
    }
    
    .project {
      display: block;
      flex-direction: column;

      border-radius: 3px;
      padding: 16px;
      border: 1px solid #ddd;

      transition: box-shadow 0.2s ease;

      // &:hover {
      //   box-shadow: #aaa 2px 2px 11px;
      // }

      .spacer {
        flex: 1;
      }

      .title {
        margin: 0 0 0.6em 0;
        font-size: 1.05em ;//$h4;
        font-weight: bold;
        line-height: 1;
      }

      .description {
        color:  #686868;
        font-weight: 600;
      }

      p {
        a{
          color:  #333;
          &:hover {
            opacity: 0.8;

          }
        }
        font-size: 0.85em;
        margin: 0.7em 0;
        line-height: 1.2;
      }

      .preview-image {

        float: left;
        margin-right: 18px;
        display: block;
        width: 30%;
        height: 0;
        padding-top: 15%;
        border: 1px solid #f1f1f1;

        background-size: cover;
        background-position: top left;

        transition: background 1.5s;

        &:hover {
          opacity: 1;
          background-position: bottom right;
        }
      }

      .links {
        font-size: 0.8em;

        a {
          margin-right: 0.5em;
          white-space: nowrap;
        }
      }
    }
  }



  @include media-query($on-palm) {
    .columns {
      flex-direction: column;
      align-items: center;

      .intro {
        order: 2;
      }
      .me {
        order: 1;
        margin-left: 0;
      }
    }


    .featured-projects {
      flex-direction: column;

      .project {
        display: block;
        margin-bottom: 16px;

        &:not(:last-child) {
          margin-right: 0;
        }

        .preview-image {
          width: 40%;
          padding-top: 22%;
          float: left;
          margin-right: 18px;
        }
      }
    }


  }

  .social-buttons {
    margin-bottom: 0;
      a {
        font-size: 20px;
        margin: 0 15px 0 0;
        display: inline-block;
        width: 20px;
        height: 40px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: $theme-color;
        outline: none;
        &:active,
        &:focus,
        &:hover {
          transform: scale(1.2);
        }
    }
  }


}
