// Links
a {
  cursor: pointer;
  text-decoration: none;
  color: $theme-color;
  transition: all .2s ease-in-out;
  &:hover {
    text-decoration: none;
    color: darken(#343a40, 15%);
    transition: all .2s ease-in-out;
    text-decoration: underline;
  }
  &.disabled,
  &:disabled {
    &:hover {
      color: $theme-color;
    }
  }
}
