.page-content {
    padding: 75px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}


// Links
a {
  cursor: pointer;
  text-decoration: none;
  color: $theme-color;
  transition: all .2s ease-in-out;
  &:hover {
    text-decoration: none;
    color: darken(#343a40, 15%);
    transition: all .2s ease-in-out;
    text-decoration: underline;
  }
  &.disabled,
  &:disabled {
    &:hover {
      color: $theme-color;
    }
  }
}


//positions
.left {
  float: left;
}

.right {
  float: right;
}
