// Typography
// LatoLatin font
@font-face {
  font-family: "LatoLatin";
  src: local(LatoLatin Thin),
    url("#{$roboto-font-path}LatoLatin-Thin.eot");
  src: url("#{$roboto-font-path}LatoLatin-Thin.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Thin.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Thin.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "LatoLatin";
  src: local(LatoLatin Light),
    url("#{$roboto-font-path}LatoLatin-Light.eot");
  src: url("#{$roboto-font-path}LatoLatin-Light.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Light.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Light.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "LatoLatin";
  src: local(LatoLatin Regular),
    url("#{$roboto-font-path}LatoLatin-Regular.eot");
  src: url("#{$roboto-font-path}LatoLatin-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Regular.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Regular.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "LatoLatin";
  src: url("#{$roboto-font-path}LatoLatin-Medium.eot");
  src: url("#{$roboto-font-path}LatoLatin-Medium.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Medium.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Medium.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "LatoLatin";
  src: url("#{$roboto-font-path}LatoLatin-Bold.eot");
  src: url("#{$roboto-font-path}LatoLatin-Bold.eot?#iefix") format("embedded-opentype"),
    url("#{$roboto-font-path}LatoLatin-Bold.woff2") format("woff2"),
    url("#{$roboto-font-path}LatoLatin-Bold.woff") format("woff"),
    url("#{$roboto-font-path}LatoLatin-Bold.ttf") format("truetype");
  font-weight: 700;
}
//
// // Roboto font
// @font-face {
//   font-family: "Roboto";
//   src: local(Roboto Thin),
//     url("#{$roboto-font-path}Roboto-Thin.eot");
//   src: url("#{$roboto-font-path}Roboto-Thin.eot?#iefix") format("embedded-opentype"),
//     url("#{$roboto-font-path}Roboto-Thin.woff2") format("woff2"),
//     url("#{$roboto-font-path}Roboto-Thin.woff") format("woff"),
//     url("#{$roboto-font-path}Roboto-Thin.ttf") format("truetype");
//   font-weight: 200;
// }
//
// @font-face {
//   font-family: "Roboto";
//   src: local(Roboto Light),
//     url("#{$roboto-font-path}Roboto-Light.eot");
//   src: url("#{$roboto-font-path}Roboto-Light.eot?#iefix") format("embedded-opentype"),
//     url("#{$roboto-font-path}Roboto-Light.woff2") format("woff2"),
//     url("#{$roboto-font-path}Roboto-Light.woff") format("woff"),
//     url("#{$roboto-font-path}Roboto-Light.ttf") format("truetype");
//   font-weight: 300;
// }
//
// @font-face {
//   font-family: "Roboto";
//   src: local(Roboto Regular),
//     url("#{$roboto-font-path}Roboto-Regular.eot");
//   src: url("#{$roboto-font-path}Roboto-Regular.eot?#iefix") format("embedded-opentype"),
//     url("#{$roboto-font-path}Roboto-Regular.woff2") format("woff2"),
//     url("#{$roboto-font-path}Roboto-Regular.woff") format("woff"),
//     url("#{$roboto-font-path}Roboto-Regular.ttf") format("truetype");
//   font-weight: 400;
// }
//
// @font-face {
//   font-family: "Roboto";
//   src: url("#{$roboto-font-path}Roboto-Medium.eot");
//   src: url("#{$roboto-font-path}Roboto-Medium.eot?#iefix") format("embedded-opentype"),
//     url("#{$roboto-font-path}Roboto-Medium.woff2") format("woff2"),
//     url("#{$roboto-font-path}Roboto-Medium.woff") format("woff"),
//     url("#{$roboto-font-path}Roboto-Medium.ttf") format("truetype");
//   font-weight: 500;
// }
//
// @font-face {
//   font-family: "Roboto";
//   src: url("#{$roboto-font-path}Roboto-Bold.eot");
//   src: url("#{$roboto-font-path}Roboto-Bold.eot?#iefix") format("embedded-opentype"),
//     url("#{$roboto-font-path}Roboto-Bold.woff2") format("woff2"),
//     url("#{$roboto-font-path}Roboto-Bold.woff") format("woff"),
//     url("#{$roboto-font-path}Roboto-Bold.ttf") format("truetype");
//   font-weight: 700;
// }

// General properties
body {
  font-family: $roboto-font-family;
  font-weight: 400;
  line-height: 1.5 ;
  color: #404040;
  -webkit-font-smoothing: antialiased;
}

// body {
//   font-family: Lato, Helvetica, Arial, sans-serif ;
//   line-height: 1.5 ;
//   color: #404040;
//   font-size: 100%; //16px
//   -webkit-font-smoothing: antialiased;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto-font-family;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: .5em;
}


/* Basscss Base Typography */


p,
dl,
ol,
ul {
  font-size: $h4;
  margin-top: 0;
  margin-bottom: $space-2;
}

ol,
ul {
  padding-left: $space-3;
}

pre,
code,
samp {
  font-family: $monospace-font-family;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: $space-2;
  overflow-x: scroll;
}

hr {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

blockquote {
  margin-top: $space-3;
  margin-bottom: $space-3;
  margin-left: 0;
  padding-left: $space-2;
  padding-right: $space-2;
}

blockquote,
blockquote p {
  font-size: $h3;
  font-style: italic;
}

h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

h6,
.h6 {
  font-size: $h6;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}



html {
    font-size: $base-font-size;
}

body {
    color: $text-color;
}

abbr {
    border-bottom: $abbr-border-bottom;
    cursor: help;
}

p {
    color: #333;
    // line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    body {
        // font-weight: 100;
    }
    h1, h2, h3, h4, h5, h6 {
        // font-weight: 100;
    }
}

small,
.small {
    font-size: 0.707rem;
}

sup {
    position: relative;
    vertical-align: middle;
    top: -0.9ex;
}

div.equation {
    margin: $space-1 0;
    text-align: center;
}

latex-js {
    display: block;
    margin-bottom: -webkit-calc(#{$vertical-spacing-unit} / 2);
    margin-bottom:         calc(#{$vertical-spacing-unit} / 2);
}
