
// General properties
body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  line-height: 1.5 ;
  color: #404040;
  -webkit-font-smoothing: antialiased;
}

// body {
//   font-family: Lato, Helvetica, Arial, sans-serif ;
//   line-height: 1.5 ;
//   color: #404040;
//   font-size: 100%; //16px
//   -webkit-font-smoothing: antialiased;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  // font-weight: bold;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: .5em;
}



p,
dl,
ol,
ul {
  font-size: $h4;
  margin-top: 0;
  margin-bottom: $space-2;
}

ol,
ul {
  padding-left: $space-3;
}



hr {
  margin-top: $space-3;
  margin-bottom: $space-3;
}


h1,
.h1 {
  font-size: $h1;
}

h2,
.h2 {
  font-size: $h2;
}

h3,
.h3 {
  font-size: $h3;
}

h4,
.h4 {
  font-size: $h4;
}

h5,
.h5 {
  font-size: $h5;
}

h6,
.h6 {
  font-size: $h6;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

html {
    font-size: $base-font-size;
}

body {
    color: $text-color;
}

abbr {
    border-bottom: $abbr-border-bottom;
    cursor: help;
}

p {
    color: #333;
    // line-height: 1.5;
}



// @media
// (-webkit-min-device-pixel-ratio: 2),
// (min-resolution: 192dpi) {
//     body {
//         // font-weight: 100;
//     }
//     h1, h2, h3, h4, h5, h6 {
//         // font-weight: 100;
//     }
// }

small,
.small {
    font-size: 0.707rem;
}

sup {
    position: relative;
    vertical-align: middle;
    top: -0.9ex;
}

div.equation {
    margin: $space-1 0;
    text-align: center;
}

latex-js {
    display: block;
    margin-bottom: -webkit-calc(#{$vertical-spacing-unit} / 2);
    margin-bottom:         calc(#{$vertical-spacing-unit} / 2);
}
