<!DOCTYPE html>
<html lang="en" x-data="{ darkMode: false }" :class="{ 'dark': darkMode }">

<head>
    {% include core/head.html %}
</head>

<body x-cloak class="min-h-screen transition-colors duration-200"
    x-data="{ darkMode: false, showBibtex: false, currentBibtex: '', copied: false }"
    :class="darkMode ? 'bg-gray-950 text-gray-100' : 'bg-gray-50 text-gray-900'">

     <!-- Conditionally show Xmas or normal header -->
    <div>
        <div x-show="isXmas">
            {% include core/header_xmas.html %}
        </div>
        <div x-show="!isXmas">
            {% include core/header.html %}
        </div>
    </div>

    <main>
        {{ content }}
    </main>
    {% include shared/concepts.html %}
    {% include core/footer.html %}

    <script>// Load Lucide icons
        document.addEventListener("DOMContentLoaded", function () {
            lucide.createIcons();
        });
    </script>
    {% include core/body_scripts.html %}

</body>

</html>