<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    {% include core/head.html %}
</head>

<body x-cloak class="min-h-screen transition-colors duration-200" x-data="{ darkMode: false }" 
:class="darkMode ? 'bg-gray-950 text-gray-100' : 'bg-gray-50 text-gray-900'">
    {% include core/header.html %}
    
    <main>
        {{ content }}
    </main>
    {% include shared/concepts.html %}
    {% include core/footer.html %}

    <script>// Load Lucide icons
        document.addEventListener("DOMContentLoaded", function() {
          lucide.createIcons();
        });
    </script>
</body>
</html>